@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
.button, .navbar.outline .nav-item, .nav-item {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff; }
  .button:hover, .navbar.outline .nav-item:hover, .nav-item:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000; }

.button-outline {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000; }
  .button-outline:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff; }

.button-green {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #007965;
  background-color: #007965;
  color: #ffffff; }
  .button-green:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #007965; }

.button-red {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #8c0000;
  background-color: #8c0000;
  color: #ffffff; }
  .button-red:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #8c0000; }

.button-blue {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #28527a;
  background-color: #28527a;
  color: #ffffff; }
  .button-blue:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #28527a; }

.button-orange {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #e45826;
  background-color: #e45826;
  color: #ffffff; }
  .button-orange:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #e45826; }

.button-pink {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #b34180;
  background-color: #b34180;
  color: #ffffff; }
  .button-pink:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #b34180; }

.button-outline-green {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #007965;
  background-color: #ffffff;
  color: #007965; }
  .button-outline-green:hover {
    cursor: pointer;
    background-color: #007965;
    color: #ffffff; }

.button-outline-red {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #8c0000;
  background-color: #ffffff;
  color: #8c0000; }
  .button-outline-red:hover {
    cursor: pointer;
    background-color: #8c0000;
    color: #ffffff; }

.button-outline-blue {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #28527a;
  background-color: #ffffff;
  color: #28527a; }
  .button-outline-blue:hover {
    cursor: pointer;
    background-color: #28527a;
    color: #ffffff; }

.button-outline-orange {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #e45826;
  background-color: #ffffff;
  color: #e45826; }
  .button-outline-orange:hover {
    cursor: pointer;
    background-color: #e45826;
    color: #ffffff; }

.button-outline-pink {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #b34180;
  background-color: #ffffff;
  color: #b34180; }
  .button-outline-pink:hover {
    cursor: pointer;
    background-color: #b34180;
    color: #ffffff; }

.button-outline-gray {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 1px solid #888888;
  background-color: #ffffff;
  color: #888888; }
  .button-outline-gray:hover {
    cursor: pointer;
    background-color: #888888;
    color: #ffffff; }

.card {
  width: 16rem;
  border: 1px solid #888888; }
  .card .card-header {
    padding: 3rem 0;
    text-align: center;
    background-color: #e45826; }
  .card .card-body {
    padding: 0.25rem; }
    .card .card-body .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.7rem 0; }
    .card .card-body .card-text {
      font-size: 1rem; }
  .card .card-footer {
    padding: 0.5rem; }

.breadcrumb {
  list-style-type: none;
  display: flex;
  padding: 0.5rem;
  border: 1px solid #888888; }

.bread-item {
  margin-right: 0.75rem; }

.navbar {
  list-style-type: none;
  display: flex; }

.nav-item * {
  text-decoration: none;
  color: #ffffff; }

.nav-item {
  margin: 0.5rem; }

.jumbotron {
  width: 100%;
  margin: 3rem auto;
  padding: 1rem 3rem;
  box-shadow: 0 0 5px 2px #888888; }
  .jumbotron .jumbo-body {
    margin: 2rem 0; }
  .jumbotron .jumbo-footer {
    margin: 2rem 0; }

.alert {
  border: 1px solid #28527a;
  width: 100%;
  background-color: #28527a;
  padding: 1rem 1.5rem 1rem 1rem; }
  .alert .alert-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .alert .alert-body {
    padding: 0.5rem 0; }
  .alert .alert-footer {
    border-top: 1px solid #888888;
    padding-top: 0.5rem; }

.alert-green {
  border: 1px solid #007965;
  width: 100%;
  background-color: #007965;
  padding: 1rem 1.5rem 1rem 1rem; }
  .alert-green .alert-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .alert-green .alert-body {
    padding: 0.5rem 0; }
  .alert-green .alert-footer {
    border-top: 1px solid #888888;
    padding-top: 0.5rem; }

.alert-red {
  border: 1px solid #8c0000;
  width: 100%;
  background-color: #8c0000;
  padding: 1rem 1.5rem 1rem 1rem; }
  .alert-red .alert-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .alert-red .alert-body {
    padding: 0.5rem 0; }
  .alert-red .alert-footer {
    border-top: 1px solid #888888;
    padding-top: 0.5rem; }

.alert-blue {
  border: 1px solid #28527a;
  width: 100%;
  background-color: #28527a;
  padding: 1rem 1.5rem 1rem 1rem; }
  .alert-blue .alert-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .alert-blue .alert-body {
    padding: 0.5rem 0; }
  .alert-blue .alert-footer {
    border-top: 1px solid #888888;
    padding-top: 0.5rem; }

.alert-orange {
  border: 1px solid #e45826;
  width: 100%;
  background-color: #e45826;
  padding: 1rem 1.5rem 1rem 1rem; }
  .alert-orange .alert-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .alert-orange .alert-body {
    padding: 0.5rem 0; }
  .alert-orange .alert-footer {
    border-top: 1px solid #888888;
    padding-top: 0.5rem; }

.alert-pink {
  border: 1px solid #b34180;
  width: 100%;
  background-color: #b34180;
  padding: 1rem 1.5rem 1rem 1rem; }
  .alert-pink .alert-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .alert-pink .alert-body {
    padding: 0.5rem 0; }
  .alert-pink .alert-footer {
    border-top: 1px solid #888888;
    padding-top: 0.5rem; }

.alert-gray {
  border: 1px solid #888888;
  width: 100%;
  background-color: #888888;
  padding: 1rem 1.5rem 1rem 1rem; }
  .alert-gray .alert-header {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .alert-gray .alert-body {
    padding: 0.5rem 0; }
  .alert-gray .alert-footer {
    border-top: 1px solid #888888;
    padding-top: 0.5rem; }

.badge-green {
  border: 1px solid #007965;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #007965;
  color: #ffffff; }

.badge-red {
  border: 1px solid #8c0000;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #8c0000;
  color: #ffffff; }

.badge-blue {
  border: 1px solid #28527a;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #28527a;
  color: #ffffff; }

.badge-orange {
  border: 1px solid #e45826;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #e45826;
  color: #ffffff; }

.badge-pink {
  border: 1px solid #b34180;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #b34180;
  color: #ffffff; }

.badge-black {
  border: 1px solid #000000;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #000000;
  color: #ffffff; }

.badge-gray {
  border: 1px solid #888888;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #888888;
  color: #ffffff; }

.badge-outline-green {
  border: 1px solid #007965;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #ffffff;
  color: #007965; }

.badge-outline-red {
  border: 1px solid #8c0000;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #ffffff;
  color: #8c0000; }

.badge-outline-blue {
  border: 1px solid #28527a;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #ffffff;
  color: #28527a; }

.badge-outline-orange {
  border: 1px solid #e45826;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #ffffff;
  color: #e45826; }

.badge-outline-pink {
  border: 1px solid #b34180;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #ffffff;
  color: #b34180; }

.badge-outline-black {
  border: 1px solid #000000;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #ffffff;
  color: #000000; }

.badge-outline-gray {
  border: 1px solid #888888;
  font-size: 0.7rem;
  width: fit-content;
  background-color: #ffffff;
  color: #888888; }

html {
  font-size: 1.1rem;
  font-family: 'Source Sans Pro', sans-serif; }

body {
  width: 60vw;
  margin: 0 auto; }

h1, .jumbotron .jumbo-header {
  color: #e45826;
  font-size: 3rem; }

h2 {
  color: #e45826;
  font-size: 2.4rem; }

h3 {
  color: #e45826;
  font-size: 2rem; }

h4 {
  color: #e45826;
  font-size: 1.65rem; }

h5 {
  color: #e45826;
  font-size: 1.5rem; }

h6 {
  color: #e45826;
  font-size: 1.25rem; }

nav {
  display: flex;
  justify-content: space-between;
  background-color: black; }

a {
  text-decoration: none;
  color: #b34180; }

aside {
  opacity: 0.3; }

section {
  background-color: cadetblue;
  width: min-content; }

header {
  color: black;
  font-size: 1rem;
  text-align: left;
  border-bottom: black solid 1px; }

footer {
  color: black;
  font-size: 1rem;
  text-align: right;
  border-top: black solid 1px; }

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1; }

.rows {
  display: flex; }
