@import "./variables";
@import "./calculated";
@import "./components";
@import "./tags";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');



.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1;
}

.rows {
  display: flex;
}
