@import "./mixins";
@import './variables';

// ******************* Buttons *******************
.button{
  @include generate-button($color-black, 'true')
}

.button-outline{
  @include generate-button($color-black, 'false')
}

.button-green{
  @include generate-button($color-green, 'true');
}

.button-red{
  @include generate-button($color-red, 'true');
}

.button-blue{
  @include generate-button($color-blue, 'true');
}

.button-orange{
  @include generate-button($color-orange, 'true')
}

.button-pink{
  @include generate-button($color-pink, 'true')
}

.button-outline-green{
  @include generate-button($color-green, 'false')
}

.button-outline-red{
  @include generate-button($color-red, 'false')  
}

.button-outline-blue{
  @include generate-button($color-blue, 'false')
}

.button-outline-orange{
  @include generate-button($color-orange, 'false')
}

.button-outline-pink{
  @include generate-button($color-pink, 'false')
}

.button-outline-gray{
  @include generate-button($color-gray, 'false')
}

// ******************* Card *******************
.card{
  width: 16rem;
  border: 1px solid $color-gray;
  
  .card-header{
    padding: $padding-vvhigh 0;
    text-align: center;
    background-color: $color-orange
  }

  .card-body{
    padding: $padding-low;

    .card-title{
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.7rem 0;
    }

    .card-text{
      font-size: 1rem;
    }
  }

  .card-footer{
    padding: 0.5rem;
  }
}

// ******************* Breadcrumb *******************

.breadcrumb{
  list-style-type: none;
  display: flex;
  padding: $padding-default;
  border: 1px solid $color-gray;
}

.bread-item{
  margin-right: 0.75rem;
}

// ******************* Navbar *******************
.navbar{
  list-style-type: none;
  display: flex;
}

.navbar.outline{
  .nav-item{
    @extend .button;
  }
}

.nav-item *{
  text-decoration: none;
  color: $color-white;
}

.nav-item{
  @extend .button;
  margin: $padding-default;
}

// ******************* Jumbotron *******************
.jumbotron{
  width: 100%;
  margin: 3rem auto;
  padding: $padding-high $padding-vvhigh;
  box-shadow: 0 0 5px 2px $color-gray;
  
  .jumbo-header{
    @extend h1;
  }
  
  .jumbo-body{
    margin: 2rem 0;
  }
  
  .jumbo-footer{
    margin: 2rem 0;
  }
}

// ******************* Alerts *******************
.alert{
  @include generate-alert($color-blue)
}

.alert-green{
  @include generate-alert($color-green);
}

.alert-red{
  @include generate-alert($color-red);
}

.alert-blue{
  @include generate-alert($color-blue);
}

.alert-orange{
  @include generate-alert($color-orange);
}

.alert-pink{
  @include generate-alert($color-pink);
}

.alert-gray{
  @include generate-alert($color-gray);
}

// ******************* Badges *******************
.badge-green{
  @include generate-badge($color-green, 'false');
}

.badge-red{
  @include generate-badge($color-red, 'false');
}

.badge-blue{
  @include generate-badge($color-blue, 'false');
}

.badge-orange{
  @include generate-badge($color-orange, 'false');
}

.badge-pink{
  @include generate-badge($color-pink, 'false');
}

.badge-black{
  @include generate-badge($color-black, 'false');
}

.badge-gray{
  @include generate-badge($color-gray, 'false');
}

.badge-outline-green{
  @include generate-badge($color-green, 'true');
}

.badge-outline-red{
  @include generate-badge($color-red, 'true');
}

.badge-outline-blue{
  @include generate-badge($color-blue, 'true');
}

.badge-outline-orange{
  @include generate-badge($color-orange, 'true');
}

.badge-outline-pink{
  @include generate-badge($color-pink, 'true');
}

.badge-outline-black{
  @include generate-badge($color-black, 'true');
}

.badge-outline-gray{
  @include generate-badge($color-gray, 'true');
}