@import "./variables";

@mixin generate-button($color, $filled){
    padding: 0.5rem 1rem;
    width: max-content;
    border: 1px solid $color;
    
    @if $filled == 'true'{
        background-color: $color;
        color: $color-white;
    }
    @else{
        background-color: $color-white;
        color: $color;
    }
    
    &:hover{
      cursor: pointer;
      @if $filled == 'true' {
        background-color: $color-white;
        color: $color;
      }
      @else{
          background-color: $color;
          color: $color-white;
      }
    }
}

@mixin generate-alert($color) {
  border: 1px solid $color;
  width: 100%;
  background-color: $color;
  padding: 1rem 1.5rem 1rem 1rem;
  .alert-header{
    font-weight: bold;
    font-size: 1.2rem;
    //border-bottom: 1px solid $color-gray;
    padding-bottom: 0.5rem;
  }

  .alert-body{
    padding: 0.5rem 0;
  }

  .alert-footer{
    border-top: 1px solid $color-gray;
    padding-top: 0.5rem;
  }
}